body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    border-bottom: 2px solid black;
}

.column {
    
    max-width: 1200px;
    margin: 0px auto;
   
    

}




#logo-i-social {
    display: flex;
    background-image: url("../img/red.jpg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    
   
}

#logo-holder {
    flex-grow: 1;
    text-align: left;
    margin: auto 5px;
}
#logo-holder img{

    width: 150px;
    height: 120px;
    
}
#social-holder {
    flex-grow: 1;
    text-align: right;
    margin: 70px 15px;
   
    
}
#social-holder a img {
    width: 45px;
    padding: 15px;
    text-decoration: none;

}

#main-menu {
    display: flex;
}
#main-menu a {
    flex-grow: 1;
    text-align: center;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-size: 14pt;
    color: black;
    font-weight: bold;
    font-variant: small-caps;
    transition-duration: 400ms; 
   
    
}
#main-menu a:nth-child(4) {
    border-right: black solid 2px;

}
#main-menu a:nth-child(1) {
    border-left: black solid 2px;

}
#main-menu a.active,
#main-menu a:hover{
    color: black;
    background-color: red;
    

}
#pocetna {
    text-align: center;
    margin-top: 0px;

}



.slide {
    background-image: url("../img/lebron.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  
   

}
.slide h1 {
    color: white;
    padding: 20px;
    font-size: 55px;
    font-weight: bold;
    font-variant: small-caps;
}
.dark-box {
    padding: 65px 55px;
     
    
}
.dark-box p {
    color: white;
    background-color: rgba(46, 49, 49, 0.7);
    padding: 25px 25px 10px 25px;
    font-size: 22px;
    font-style: normal;
}

.slide2 h1 {
    color: white;
    padding: 20px;
    font-size: 55px;
    font-weight: bold;
    font-variant: small-caps;
}
.slide2 {
    background-image: url("../img/leki.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    


}
.button {
    padding: 45px;
}
.button  a {
    border: 3px solid white;
    padding: 15px 45px;
    border-radius: 50px 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: black;
}
.button  a:hover {
    border: 3px solid red;
    color: red
    
}
a.bx-pager-link.active {
    display: none;
 
    }
    
    .column h2 {
        font-size: 55px;
        font-weight: bold;
        font-variant: small-caps;

    }
    p {
        font-size: 18px;
        font-style: italic;
        font-weight: 100;
    }

  .slika {
      position: relative;
      width: 280px;
      height: 180px;
      display: inline-block;
  }
  .img {
      display: block;
      width: 280px;
      height: 180px;
     
  }
  .overlay {
      position: absolute;
      transition: all .3s ease;
      opacity: 0;
      background: rgba(255,0,0,0.2);
  }
  .slika:hover  .overlay {
        opacity: 0.8;
    
}

  .text {
      color: white;
      position: absolute;
      top: 45%;
      left: 10%;
      transform: translate(50%, 50%);
      font-size: 18px;
      font-style: italic;
      font-weight: 100;
      background-color: #0C2619;
  }
  .overleft {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #0C2619;
  }
  .slika:hover .overleft {
      width: 100%;
     
      
  }
  .kvadrat {
      display: flex;
      margin: 25px 10px;
     
      
  }
  .kvadrat-holder{
      flex-grow: 1;
      margin-top: 15px;
      
  }

  .tekst a  {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    color: black;
  
}


.kvota > p > i {
    color: black;
}

.tekst a:hover{ 
    text-decoration: underline;
}
.tekst a:hover{
    color: red;
}
#o-nama {
    background-image: url("../img/cover.jpg");
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;

}
.tekst-area
 {
    width: 100%;
    text-align: center;
 }
    .tekst-area h1 {
    color: white;
    font-size: 38px;
    background: rgba(0, 0, 0, 0.8);
    font-variant: small-caps;
    font-weight: 800;
    padding: 10px;
    border-left: 1px solid white;
     border-right: 1px solid white;
     border-bottom: 1px solid white;
     margin: 0;
}
.tekst-area p{
    margin-top: 180px;
    color: white;
    font-size: 22px;
    background: rgba(0, 0, 0, 0.8);
    font-weight: 100;
    padding: 15px;
    font-style: normal;
    

}
.team {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    
    

}
.title1 {
    
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    margin: 50px 5px 0px 0px;
    
}
.title1 i {
    font-size: 65px;
    color: red;
    padding: 5px 10px;
    
}
.title1 h3 {
    color: white;
    padding: 0 10px;
    transition: 400ms;
   
}
.title1 i:hover {
    color: white;
    font-size: 68px;
}
.footer {
    background-color: black;
}

.footer1 {
    display: flex;
}
#footer1-holder{
    flex-grow: 1;
    text-align: left;

}
#footer1-holder1 {
    flex-grow: 1;
    text-align: right;
    

}
.footer1-social i {
    display: block;
    padding: 10px;
   margin: 20px; 
    color: white;
    font-size: 22px;
    font-variant: small-caps;
    font-style: italic;
 
    
   

}
.footer1-social i:hover {
    color: red;

}
.footer1-social i:nth-child(3) {
    margin-bottom: 25px
}
.footer1-social1 img {
   
    width: 45px;
    margin-top: 55px; 
    padding: 10px;
    text-decoration: none;
  
   
}
#double-area {
    background-image: url("../img/ej.jpg");
   
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 5px auto;
 
}



.double {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    
    
}
.double-holder {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
    
    
   
}
.double-holder img {
    border: 1px solid silver;
  
    height: 290px;
    max-width: 420px;

}
.info {
    margin: 55px;
    height: 320px;
    max-width: 420px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(0,0,0,0.7);
}
.info h1{
    margin-top:  15px;
    background-color: rgb(0,0,0,0.7);
    border-top: 1px solid silver;
    padding: 5px;
    border-bottom: 1px solid silver;
    color: white;
    
}
.info p  {
    color:white;
    text-align: justify;
    padding: 7px;
    font-weight: 100;
    text-indent: 35px;
    font-style: normal;
}
#ukratko {
    background-image: url("../img/ej.jpg");
   
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    margin-top: 5px;

  

}
.ukratko-area {
    display: flex;
    flex-direction: column;
}
.ukratko-naslov  {
    flex-grow: 1;
    
    
}
.ukratko-naslov h1 {
    text-align: center;
   font-size: 48px;
   font-weight: bold;
   font-variant: small-caps;
   font-weight:  600;
   border: 1px solid black;
   max-width: 350px;
   margin: 15px auto;
   background-color: rgb(0,0,0,0.8);
   color: white;
   

}
.ukratko-naslov-1  {
    flex-grow: 3;

   
    margin: 15px 105px;
    color: white;
    background-color: rgb(0,0,0,0.9);
    margin-bottom: 220px;

}
.ukratko-naslov-1 p {
    text-align: center;
    padding: 10px;
    font-weight:  100;
    font-style: normal;
}
#kontakt {
    background-image: url("../img/kontakt.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    margin-top: 5px; 
 
}
.contact-area {
    display: flex;
    flex-direction: row;
    height: 85px;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
   

}
.contact-holder {
    border: 1px solid black;
    padding: 20px;
}
.contcat {
    display: flex;
    flex-direction: column;
    margin: 5px;

}
.contcat h1{
    text-align: center;
    color: black;
    font-weight: 100;
    font-style: italic;
    background-color: rgb(0,0,0,0.2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto; 
    border: 1px solid black;
    
    
    
    
}
.contcat h2{
    text-align: center;
    color: black;
    font-weight: 100;
    font-style: italic;
    background-color: rgb(0,0,0,0.2);
    padding: 20px;
    max-width: 500px;
    margin: 5 auto; 
    
}
.krugovi {
    display: flex;
    margin: 25px 0;
  
} 
.krug-holder {
    flex-grow: 1;
   text-align: center;
   margin: 25px 0;
}
    
    

.krug {
    background-color: rgb(0,0,0,0.4);
    color: white;
    
    display: inline-block;
    padding: 25%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 400ms;


}


.krug:hover {
    background-color: rgb(0,0,0,0.9);
    color: white;
    
    display: inline-block;
    padding: 25%;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.krug i {
    font-size: 48px;
    text-align: center;
    color: white;
}
.krug i:hover {
    color: red;

}
.oznaka {
    
        margin-top: 10px;
    
}
.oznaka a {
    list-style: none;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    color: black;


}

    
    



@media only screen and (max-width: 768px) {
    body {
      width: 100%;
    }
    
    .kvadrat {
        display: flex;
        flex-direction: column;
      
    }
    #logo-i-social{
        
        display: flex;
        width: 100%;
       
    }
    .social-holder {
        display: flex;
        flex-wrap: wrap;
      
    }
   
    
    
    .page .column {
        width: 100%;
    }  
    #logo-holder {
        width: 100%;
    }
    .icone {
        display: flex;
        flex-direction: column;
    }
    #social-holder {
        display: flex;
        flex-direction: column;
    }
    .slide {
        width: 100%;
    }
    .slide h1 {
        display: flex;
        justify-content: center;
    }
    .kvadrat {
        display: flex;
        margin: 25px 10px;
        align-items: center;
        
    }
   
    .dark-box {
        padding: 0;
        margin: 0;
    }
    .dark-box p  {
        font-size: 21px;
        padding: 0;
        justify-content: center;
    }

    .tekst-area p{
        margin-top: 20px;
        padding: 5px;
        font-size: 20px;
    
    }
    .team {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
        text-align: center;
      
        
    
        
    
    }
    .title1 {
        
        margin: 0px 1px;
        flex-grow: 1;
        
        
        
    }
    .title1 i {
        font-size: 65px;
    }
    .footer1-social i {
        display: block;
        
        margin-top: 25px; 
        color: white;
        font-size: 16px;
 
    
    }
    .footer1-social1 img {
        display: flex;
        flex-direction: column;
        width: 45px;
        margin-top: 0px; 
        padding: 5px;
        text-decoration: none;
      
       
    }
    .double {
        display: flex;
        flex-direction: column;
        text-align: center;
      

    }
    
    .double-holder img {
        text-align: center;
        border: 1px solid silver;
        padding: 5px;
        height: 290px;
        max-width: 320px;
        margin: 15px 0;
    
    }
    .info {
        margin: 0px;
        height: 55%;;
        max-width: 100%;
        text-align: center;
        border: 1px solid black;
        background-color: rgb(0,0,0,0.7);
        margin: 0;
        padding: 10px;
        
   
   
  
  }
  .contcat {
      display: flex;
      flex-direction: column;
  }
  .ukratko-naslov-1  {
    flex-grow: 3;
    color: white;
    background-color: rgb(0,0,0,0.9);
    margin-bottom: 0;
    margin: 0 10px;

}
.contact-area {
    display: flex;
    flex-direction: row;
    height: 85px;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
    
   

}
.contact-holder {
  
    padding: 10px;
}



.krugovi {
    display: flex;
    flex-direction: column;
  
} 
.krug-holder {
    flex-grow: 1;
   text-align: center;
   margin: 25px 0;
}


}
  